@(title: String)

<!DOCTYPE html>

<html lang="en">
    <head>
        <title>@title</title>
        <link rel="stylesheet" href="@routes.Assets.versioned("bootstrap/css/bootstrap.min.css")">
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Source+Code+Pro:300,400,700">
        <meta name="viewport" content="width =device-width, initial-scale=1">
    </head>
    <body>
        <h1>PlaTM: A Play Framework Turing Machine</h1>
        <h3>A Turing machine simulator with some options</h3>

        <p>
            Unary Add
            <form method="post" action="compute/un-add" autocomplete="off">
                x: <input type="number" name="x" min="0">
                y: <input type="number" name="y" min="0">
                <input type="submit">
            </form>
        </p>

        <!--<p>
            Unary Mult
            <form method="post" action="unaryaddform" autocomplete="off">
                x: <input type="number" name="x" min="0">
                y: <input type="number" name="y" min="0">
                <input type="submit">
            </form>
        </p>-->

        <p>
            Binary Add
            <form method="post" action="compute/bi-add" autocomplete="off">
                x: <input type="number" name="x" min="0">
                y: <input type="number" name="y" min="0">
                <input type="submit">
            </form>
        </p>

        <p>
            Custom Turing Machine Description:<br>
            <textarea rows="4" cols="50" name="description" form="tm-input"></textarea><br>
            <form method="post" id="tm-input" action="make-custom" autocomplete="off">
                Q0: <input type="number" name="q0">
                QH: <input type="number" name="qH">
                Blank symbol: <input type="text" name="blankSymbol">
                Start position: <input type="numer" name="startPosition">
                Input: <input type="text" name="input">
                <input type="submit">
            </form>
        </p>

    </body>
</html>
